// _base.scss

// Variables
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$font-semibold: -apple-system, BlinkMacSystemFont, "Segoe UI Semibold", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$font-color: #000;
$window-titlebar-box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 10%), inset 0 -1px 0 0 rgb(255 255 255 / 3%);

// Properties
body {
	font: 12px $font-family;
    background-color: #172142;
    background: -webkit-linear-gradient(top, #172142 0%, #132039 50%, #0E1523 100%);
    background: linear-gradient(to bottom, #172142 0%, #132039 50%, #0E1523 100%);
    background-attachment: fixed;
}

* {
	margin: 0;
	padding: 0;
}	