// core.scss
@use 'base';
@use 'colors';
@mixin prefix($property, $value, $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

#masthead,
#content-container,
#masthead-container,
#footer-container {
    width: 584px;
    margin: 0 auto;
}

#masthead-container,
#content-container {
    margin: 10px 0 0 0;
}

#content {
    width: 100%;
}

#sidebar {
    .window {
        width: 180px;
    }
}

#footer {
    @extend %window-grad-color;
    @include prefix(box-shadow, colors.$window-box-shadow, webkit);
    border: 1px solid base.$font-color;
    text-align: center;
    padding: 4px;
}

#content-container {
    display: flex;
    display: -ms-flexbox;
    align-items: flex-start;
    gap: 0px 9px;
}

#logo {
    @include prefix(background-size, 584px 84px, webkit);
    @include prefix(box-shadow, 0px 12px 23px -14px rgba(0, 0, 0, 0.75), webkit);
    background: no-repeat url("/assets/img/banner-kiwi.png");
    background-position: center center;
    border: 1px solid #000;
    height: 82px;
    width: 582px;
}

.nav-list {
    list-style: inside none;
    color: base.$font-color;
    a {
        color: base.$font-color;
        text-decoration: none;
        font-family: base.$font-semibold;
        font-weight: 501;
    }
    li {
        padding: 1px 3px 1px 4px;
        border-bottom: 1px solid #000;
    }
     :hover {
        background-color: #fff;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }
    [end] {
        border-bottom: 0;
    }
}

%window-grad-color {
    background: -webkit-linear-gradient(top, colors.$window-grad-color);
    background: linear-gradient(to-bottom, colors.$window-grad-color);
    background-color: colors.$window-bg-color;
}

.window {
    @include prefix(box-shadow,
    colors.$window-box-shadow,
    webkit);
    margin: 0 0 10px 0;
    border: 1px solid base.$font-color;
    &-titlebar {
        @include prefix(box-shadow,
        base.$window-titlebar-box-shadow,
        webkit);
        font-family: base.$font-semibold;
        font-weight: 501;
        max-height: 17px;
        padding: 3px 3px 2px 3px;
        color: colors.$titlebar-text-color;
        border-bottom: 1px solid base.$font-color;
        background: -webkit-linear-gradient(top, colors.$titlebar-grad-color);
        background: linear-gradient(to bottom, colors.$titlebar-grad-color);
        background-color: colors.$titlebar-bg-color;
        .nav-more {
            font-size: 10px;
            text-decoration: none;
            color: colors.$titlebar-text-color;
            font-family: base.$font-family;
            font-weight: 500;
            &:hover {
                text-decoration: underline !important;
            }
        }
        .gallery-date {
            float: right;
            font-weight: 400;
            font-family: base.$font-family;
        }
    }
    &-content,
    &-content-padding {
        @extend %window-grad-color;
        @include prefix(box-shadow,
        inset 0px 10px 4px -8px #787878,
        webkit);
    }
    &-content-padding {
        padding: 2px;
    }
}

.mini-gallery {
    padding-top: 5px;
    padding-bottom: 2px;
    .nav-image img {
        display: block;
        margin: 0 auto;
        border: 1px solid #000;
        width: 130px;
    }
    .nav-title span {
        display: block;
        text-align: center;
    }
}

.card-link {
    color: #fff;
    text-decoration: none;
    .news-card {
        @include prefix(background-size,
        cover !important,
        webkit);
        @include prefix(box-shadow,
        colors.$window-box-shadow,
        webkit);
        border: 1px solid base.$font-color;
        min-height: 60px;
        position: relative;
        word-break: break-word;
        background-position: center center !important;
        background-color: base.$font-color;
        margin-bottom: 10px;
        text-shadow: 0 0 14px white;
    }
    .background-overlay {
        @include prefix(box-shadow,
        base.$window-titlebar-box-shadow,
        webkit);
        padding: 4px;
        min-height: 60px;
        background: rgba(0, 0, 0, 0.8);
    }
    .card-content {
        .card-header {
            font-family: base.$font-semibold;
            font-weight: 501;
            font-size: 14px;
        }
        .card-date {
            font-size: 12px;
        }
        .card-desc {
            position: absolute;
            bottom: 4px;
            font-size: 11px;
        }
    }
}

.gallery-grid {
    display: grid;
    margin-top: 2px;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fit, 126px);
    .gallery-item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 126px;
        .gallery-item-content {
            display: block;
            margin: auto;
            p {
                margin: 0;
                text-align: center;
                font-family: base.$font-semibold;
                font-weight: 501;
            }
            span {
                font-size: 11px;
                text-align: center;
                display: block;
                max-width: 122px;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            img {
                display: block;
                margin: 0 auto;
                width: 120px;
                height: 96px;
                border: 1px solid base.$font-color;
            }
        }
    }
}

.alert {
    @include prefix(box-shadow, colors.$window-box-shadow, webkit);
    text-align: center;
    padding: 4px;
    margin: 10px 0 0 0;
    font-weight: 501;
    font-size: 12px;
    border: 1px solid base.$font-color;
    color: #000;
    background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
    background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
    &-warning {
        background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
        background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
        color: #000;
    }
    &-error {
        background: -webkit-linear-gradient(top, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%);
        background: linear-gradient(to bottom, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%);
        color: #fff;
    }
}